*.pte filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
assets/model/*.pte filter=lfs diff=lfs merge=lfs -text
android/src/main/assets/model/*.pte filter=lfs diff=lfs merge=lfs -text
